.bar {
  margin: 1rem;
}

.barLine {
  display: flex;
  flex-direction: row;

  div {
    width: 12px;
    border-radius: 5px;
    margin: 1px;
  }
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.descriptionItem {
  display: flex;
  align-items: center;

  div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  p {
    font-size: 14px;
    padding: 4px;
  }
}
